body{
    margin:0;
    padding:0;
}

.categories{
    display: flex;
    width: 90rem;
    height: 20rem;
    
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
    gap: 2rem;
}


.cardCtn{
    display: flex;
    margin-left: 6rem;
    margin-top: 4rem;
    justify-content: center space-between;
    align-items: center ;
    flex-direction: column;
    width: 80rem;
    height: 13rem;
    gap: 3rem;
    
}

.text{
    font-family: Inter;
    font-weight: 700;
    font-style: bold;
    line-height: 2.25rem;
    font-size: 30px;

}