body{
    margin: 0;
    padding: 0;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.sport{
    background-color: #FEF2F2;
}

.car{
    background-color:rgba(254, 252, 232, 1) ;
}

.camera{
    background-color: rgba(250, 245, 255, 1);
}

.comp{
    background-color:rgba(240, 253, 244, 1) ;
}

.game{
    background-color: rgba(255, 247, 237, 1);
}

.instruments{
    background-color: rgba(239, 246, 255, 1);
}

.pic{
    width: 185.33px;
    height: 84px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 30px;
    height: 28px;

}
